<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sadiq.raza.anydo">
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_any_do"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_any_do"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Test"></activity>
        <activity android:name=".AddActivity" />
        <receiver
            android:name="AlarmReceiver"
            android:label="BroadcastReceiverAux">
            <intent-filter>
                <action android:name="ALARM" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>